In [126]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [127]:
data = pd.read_csv("2020-12-31-DynamicallyGeneratedHateDataset-entries-v0.1.csv")

In [128]:
data.head()

,Unnamed: 0,id,text,label,type,model_wrong,db.model_preds,status,round,split,annotator
0,1,10000,It should be legal for a husband to rape his wife,hate,notgiven,True,0.97457,dynabench entry,1,train,gnzuctwed3
1,2,10001,dalits are lowlife scum,hate,notgiven,False,0.08233,dynabench entry,1,test,cagnluiznm
2,3,10002,dalits are lowlives,hate,notgiven,True,0.92319,dynabench entry,1,train,cagnluiznm
3,4,10003,It was a better world when women dare not ques...,hate,notgiven,True,0.99006,dynabench entry,1,test,gnzuctwed3
4,5,10004,I don't work this hard so that those immigrant...,hate,notgiven,True,0.98836,dynabench entry,1,train,cagnluiznm

In [129]:
data.info

<bound method DataFrame.info of        Unnamed: 0     id                                               text  \
0               1  10000  It should be legal for a husband to rape his wife
1               2  10001                            dalits are lowlife scum
2               3  10002                                dalits are lowlives
3               4  10003  It was a better world when women dare not ques...
4               5  10004  I don't work this hard so that those immigrant...
...           ...    ...                                                ...
40618       40736   9995  we should forcibly remove all the foreigners f...
40619       40737   9996  we should forcibly remove all the immigrants f...
40620       40738   9997               dalits are unworthy of the Gods love
40621       40739   9998                               dalits are worthless
40622       40740   9999       dalits are deserves to be treated as lowlife

      label      type model_wrong  db.model_preds           status round  \
0      hate  notgiven        True         0.97457  dynabench entry     1
1      hate  notgiven       False         0.08233  dynabench entry     1
2      hate  notgiven        True         0.92319  dynabench entry     1
3      hate  notgiven        True         0.99006  dynabench entry     1
4      hate  notgiven        True         0.98836  dynabench entry     1
...     ...       ...         ...             ...              ...   ...
40618  hate  notgiven        True         0.86945  dynabench entry     1
40619  hate  notgiven        True         0.50039  dynabench entry     1
40620  hate  notgiven        True         0.97652  dynabench entry     1
40621  hate  notgiven        True         0.94326  dynabench entry     1
40622  hate  notgiven        True         0.94324  dynabench entry     1

       split   annotator
0      train  gnzuctwed3
1       test  cagnluiznm
2      train  cagnluiznm
3       test  gnzuctwed3
4      train  cagnluiznm
...      ...         ...
40618  train  cagnluiznm
40619  train  cagnluiznm
40620  train  cagnluiznm
40621  train  cagnluiznm
40622  train  cagnluiznm

[40623 rows x 11 columns]>

In [130]:
data.shape

(40623, 11)

In [131]:
data.describe(include='all')

,Unnamed: 0,id,text,label,type,model_wrong,db.model_preds,status,round,split,annotator
count,40623.000000,40623,40623,40623,40623,26097,26097.000000,40623,40623,40623,40623
unique,NaN,40623,40463,2,7,2,NaN,2,5,3,20
top,NaN,25516p,Blacks are such pondlife,hate,none,True,NaN,dynabench entry,1,train,gnzuctwed3
freq,NaN,1,6,22124,18499,15436,NaN,26097,11542,32497,6733
mean,20371.983236,NaN,NaN,NaN,NaN,NaN,0.585455,NaN,NaN,NaN,NaN
std,11743.590183,NaN,NaN,NaN,NaN,NaN,0.448801,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,0.000010,NaN,NaN,NaN,NaN
25%,10206.500000,NaN,NaN,NaN,NaN,NaN,0.036560,NaN,NaN,NaN,NaN
50%,20374.000000,NaN,NaN,NaN,NaN,NaN,0.910290,NaN,NaN,NaN,NaN
75%,30534.500000,NaN,NaN,NaN,NaN,NaN,0.995500,NaN,NaN,NaN,NaN
max,40740.000000,NaN,NaN,NaN,NaN,NaN,0.999920,NaN,NaN,NaN,NaN

In [132]:
data.columns

Index(['Unnamed: 0', 'id', 'text', 'label', 'type', 'model_wrong',
       'db.model_preds', 'status', 'round', 'split', 'annotator'],
      dtype='object')

In [133]:
# from pandas_profiling import ProfileReport
# profile = ProfileReport(data)
# profile.to_file('EDA.html')

In [134]:
# # importing sweetviz
# import sweetviz as sv
# #analyzing the dataset
# advert_report = sv.analyze(data)
# #display the report
# advert_report.show_html('auto_eda.html')

In [135]:
data.head(10)

,Unnamed: 0,id,text,label,type,model_wrong,db.model_preds,status,round,split,annotator
0,1,10000,It should be legal for a husband to rape his wife,hate,notgiven,True,0.97457,dynabench entry,1,train,gnzuctwed3
1,2,10001,dalits are lowlife scum,hate,notgiven,False,0.08233,dynabench entry,1,test,cagnluiznm
2,3,10002,dalits are lowlives,hate,notgiven,True,0.92319,dynabench entry,1,train,cagnluiznm
3,4,10003,It was a better world when women dare not ques...,hate,notgiven,True,0.99006,dynabench entry,1,test,gnzuctwed3
4,5,10004,I don't work this hard so that those immigrant...,hate,notgiven,True,0.98836,dynabench entry,1,train,cagnluiznm
5,6,10005,I don't work this hard so that those migrants ...,hate,notgiven,True,0.99506,dynabench entry,1,train,cagnluiznm
6,7,10006,I don't work this hard so that those foreigner...,hate,notgiven,True,0.99340,dynabench entry,1,train,cagnluiznm
7,8,10007,I don't work this hard so that those Hispanics...,hate,notgiven,True,0.98625,dynabench entry,1,train,cagnluiznm
8,9,10008,I don't work this hard so that those chavs can...,hate,notgiven,True,0.95252,dynabench entry,1,test,cagnluiznm
9,10,10009,I don't work this hard so that all those pakis...,hate,notgiven,False,0.09288,dynabench entry,1,train,cagnluiznm

In [136]:
data = data[['text', 'label']]

In [137]:
data.head()

                                                text label
0  It should be legal for a husband to rape his wife  hate
1                            dalits are lowlife scum  hate
2                                dalits are lowlives  hate
3  It was a better world when women dare not ques...  hate
4  I don't work this hard so that those immigrant...  hate

In [138]:
le = LabelEncoder()
data['label'] = le.fit_transform(data['label'])

c:\Program Files\Python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [139]:
data.label.value_counts()

0    22124
1    18499
Name: label, dtype: int64

In [140]:
def text_clean(text): 
    # changing to lower case
    lower = text.str.lower()
    
    # Replacing the repeating pattern of &#039;
    pattern_remove = lower.str.replace("&#039;", "")
    
    # Removing all the special Characters
    special_remove = pattern_remove.str.replace(r'[^\w\d\s]',' ')
    
    # Removing all the non ASCII characters
    ascii_remove = special_remove.str.replace(r'[^\x00-\x7F]+',' ')
    
    # Removing the leading and trailing Whitespaces
    whitespace_remove = ascii_remove.str.replace(r'^\s+|\s+?$','')
    
    # Replacing multiple Spaces with Single Space
    multiw_remove = whitespace_remove.str.replace(r'\s+',' ')
    
    # Replacing Two or more dots with one
    dataframe = multiw_remove.str.replace(r'\.{2,}', ' ')
    
    return dataframe

In [141]:
data['text_clean'] = text_clean(data['text'])

c:\Program Files\Python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [142]:
data.head()

,text,label,text_clean
0,It should be legal for a husband to rape his wife,0,it should be legal for a husband to rape his wife
1,dalits are lowlife scum,0,dalits are lowlife scum
2,dalits are lowlives,0,dalits are lowlives
3,It was a better world when women dare not ques...,0,it was a better world when women dare not ques...
4,I don't work this hard so that those immigrant...,0,i don t work this hard so that those immigrant...

In [143]:
x = data['text_clean']
y= data['label']

In [144]:
x_train, x_test, y_train, y_test = train_test_split(x,y, stratify=y, test_size=0.3, random_state=42)

In [145]:
# describes info about train and test set
print("Number transactions X_train dataset: ", x_train.shape)
print("Number transactions y_train dataset: ", y_train.shape)
print("Number transactions X_test dataset: ", x_test.shape)
print("Number transactions y_test dataset: ", y_test.shape)

Number transactions X_train dataset:  (28436,)
Number transactions y_train dataset:  (28436,)
Number transactions X_test dataset:  (12187,)
Number transactions y_test dataset:  (12187,)

In [146]:
from sklearn.feature_extraction.text import HashingVectorizer
hvectorizer = HashingVectorizer(n_features=10000,norm=None,alternate_sign=False,stop_words='english') 
x_train = hvectorizer.fit_transform(x_train).toarray()
x_test = hvectorizer.transform(x_test).toarray()

In [147]:
x_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [148]:
y_train

23359    1
25447    0
36655    0
34190    1
4946     0
        ..
36894    1
29369    1
3465     0
10897    0
25667    1
Name: label, Length: 28436, dtype: int32

In [149]:
acc = 23

In [150]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
# training the model
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
acc_lr = accuracy_score(y_test,y_pred)

print('The accuracy obtained by the Logistic Regression is: ',acc_lr)

c:\Program Files\Python36\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

The accuracy obtained by the Logistic Regression is:  0.7038647739394437

In [ ]:
result = lr.predict(hvectorizer.transform(['''gooty is bad boy''']))
if result==0:
    print("The Entered Text is Detected as Hate Speech")
else:
    print("The Entered Text is Detected as NO-Hate Speech")

:

In [152]:
result = lr.predict(hvectorizer.transform(['''my meal was fucking disgusting''']))
if result==0:
    print("The Entered Text is Detected as Hate Speech")
else:
    print("The Entered Text is Detected as No-Hate Speech")

The Entered Text is Detected as No-Hate Speech

In [153]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt = dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
acc  = accuracy_score(y_test,y_pred)
acc

0.6404365307294658

In [155]:
result = dt.predict(hvectorizer.transform(['''who ever will oppose me i will kill them ''']))
if result==0:
    print("The Entered Text is Detected as Hate Speech")
else:
    print("The Entered Text is Detected as No-Hate Speech")

The Entered Text is Detected as No-Hate Speech

In [156]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb = nb.fit(x_train,y_train)
y_pred = nb.predict(x_test)
acc  = accuracy_score(y_test,y_pred)
acc

0.6503651431853614

In [157]:
from sklearn.ensemble import AdaBoostClassifier
adb = AdaBoostClassifier()
adb = adb.fit(x_train,y_train)
y_pred = adb.predict(x_test)
acc  = accuracy_score(y_test,y_pred)
acc

0.6239435464019036